//====================================================================================================
.footer {
    background: #333333;
    color: #ffffff;
    &__container {
        padding: rem(55) rem(15) rem(0) rem(15);
        display: flex;
        @media (max-width: em(940)) {
            flex-direction: column;
        }
    }

    &__column {
        display: flex;
        justify-content: space-between;
        flex: 1 1 auto;
        @media (max-width: em(940)) {
            justify-content: space-between;
            flex-direction: column;
        }
    }

    &__item {
        flex: 0 1 50%;
    }

    &__title {
        word-break: break-all;
        word-wrap: break-word;
        font-weight: 700;
        font-size: rem(22);
        line-height: math.div(27, 22);
        margin: rem(0) rem(0) rem(27) rem(0);
    }

    &__link {
        align-items: center;
        font-size: rem(14);
        line-height: math.div(14, 14);
        display: flex;
        &:not(:last-child) {
            margin-bottom: rem(21);
        }
        &:hover {
            text-decoration: underline;
        }
    }

    &__svg {
        max-width: rem(21);
        max-height: rem(21);
        margin: rem(0) rem(13) rem(0) rem(0);
        fill: #ffffff;
    }

    &__logo {
        display: inline-block;
        padding-bottom: rem(20);
        img {
            color: rgba(255, 255, 255, 0.041);
        }
    }

    &__contact {
        margin-top: rem(36);
        margin-bottom: rem(50);
    }

    &__content {
    }

    &__button {
        word-break: break-all;
        display: inline-block;
        text-align: center;
        max-width: rem(262);
        padding: rem(15) rem(55);
        background: linear-gradient(90deg, #f6bd60 0%, #e88952 100%);
        box-shadow: 0px 8px 15px rgba(242, 147, 81, 0.449492);
        border-radius: 3px;
        @include adaptiveValue("margin-bottom", 35, 30);
    }

    &__copyright {
        padding: rem(20) rem(0);
        border-top: 1px solid #4e4e4e;
        font-weight: 500;
        font-size: rem(14);
        line-height: math.div(16, 14);
        text-align: center;
        color: #565656;
    }
}

.button {
}
//====================================================================================================
